<div class="cabecalho">
    <h1>Usuários</h1>

    <button (click)="mostrarFormulario()"> + Novo Usuário</button>
</div>

<div class="pesquisa">
    <input type="text" placeholder="Pesquisar usuário..."
        [(ngModel)]="termoPesquisa">
</div>

@if (formularioVisivel) {
    <form #formUsuario="ngForm" (ngSubmit)="cadastrarUsuario()">

        <div>
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome"
                [(ngModel)]="novoUsuario.nome" required>
            @if (formUsuario.controls['nome'].touched && formUsuario.controls['nome'].invalid) {
                <small class="erro">O nome é obrigatório.</small>
            }
        </div>

        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email"
                [(ngModel)]="novoUsuario.email" required>
            @if (formUsuario.controls['email'].touched && formUsuario.controls['email'].invalid) {
                @if (formUsuario.controls['email'].errors?.['required']) {
                    <small class="erro">O e-mail é obrigatório.</small>
                }

                @if (formUsuario.controls['email'].errors?.['email']) {
                    <small class="erro">Digite um e-mail válido.</small>
                }
            }
        </div>

        <div>
            <label for="telefone">Telefone</label>
            <input type="text" id="telefone" name="telefone"
                [(ngModel)]="novoUsuario.telefone" required>
            @if (formUsuario.controls['telefone'].touched && formUsuario.controls['telefone'].invalid) {
                <small class="erro">O telefone é obrigatório.</small>
            }
        </div>

        <button type="button" (click)="fecharFormulario()">Cancelar</button>
        
        <button type="submit" [disabled]="formUsuario.invalid">        
            @if (editandoUsuario) {
                Salvar alterações
            } @else {
                Cadastrar
            }
        </button>

    </form>
}

<p>Usuários cadastrados:</p>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        @for (usuario of usuariosFiltrados(); track usuario.id) {
            <tr>
                <td>{{usuario.nome}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.telefone}}</td>
                <td>
                    <button class="btn-editar" (click)="editarUsuario(usuario)">Editar</button>
                    <button class="btn-excluir"(click)="excluirUsuario(usuario.id)">Excluir</button>
                </td>
            </tr>
        } @empty {
            <tr>
                <td colspan="4" class="nenhum-usuario">
                    Nenhum usuário encontrado.
                </td>
            </tr>
        }
    </tbody>
</table>