<div class="cabecalho">
    <h1>Livros</h1>

    <button (click)="mostrarFormulario()">+ Novo livro</button>
</div>

<div class="pesquisa">
    <input type="text" placeholder="Pesquisar livro..." [(ngModel)]="termoPesquisa">
</div>

@if (formularioVisivel) {
    <form #formLivro="ngForm" (ngSubmit)="cadastrarLivro()">
        <div>
            <label for="titulo">Título</label>
            <input type="text" id="titulo" 
            name="titulo" [(ngModel)]="novoLivro.titulo"
            required>
            @if (formLivro.controls['titulo'].touched && formLivro.controls['titulo'].invalid) {
                <small class="erro">O título é obrigatório.</small>
            }
        </div>

        <div>
            <label for="autor">Autor</label>
            <input type="text" id="autor" 
            name="autor" [(ngModel)]="novoLivro.autor"
            required>
            @if (formLivro.controls['autor'].touched && formLivro.controls['autor'].invalid) {
                <small class="erro">O autor é obrigatório.</small>
            }
        </div>

        <div>
            <label for="genero">Gênero</label>
            <input type="text" id="genero" 
            name="genero" [(ngModel)]="novoLivro.genero"
            required>
            @if (formLivro.controls['genero'].touched && formLivro.controls['genero'].invalid) {
                <small class="erro">O gênero é obrigatório.</small>
            }
        </div>

        <div>
            <label for="ano">Ano</label>
            <input type="number" id="ano" 
            name="ano" [(ngModel)]="novoLivro.ano"
            min="0" required>
            @if (formLivro.controls['ano'].errors?.['required']) {
                <small class="erro">O ano é obrigatório.</small>
            }

            @if (formLivro.controls['ano'].errors?.['min']) {
                <small class="erro">O ano não pode ser negativo.</small>
            }
        </div>

        <div>
            <label for="quantidade">Quantidade</label>
            <input type="number" id="quantidade" 
            name="quantidade" [(ngModel)]="novoLivro.quantidade"
            min="0" required>
            @if (formLivro.controls['quantidade'].touched && formLivro.controls['quantidade'].invalid) {
                @if (formLivro.controls['quantidade'].errors?.['required']) {
                    <small class="erro">A quantidade é obrigatória.</small>
                }

                @if (formLivro.controls['quantidade'].errors?.['min']) {
                    <small class="erro">A quantidade não pode ser negativa.</small>
                }
            }
        </div>

        <button type="button" (click)="fecharFormulario()">Cancelar</button>
        
        <button type="submit" [disabled]="formLivro.invalid">
            @if (editandoLivro) {
                Salvar alterações
            } @else {
                Cadastrar
            }
        </button>

    </form>
}

<p>Livros cadastrados:</p>

<table>
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Gênero</th>
            <th>Ano</th>
            <th>Quantidade</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        @for (livro of livrosFiltrados(); track livro.id) {
            <tr>
                <td>{{livro.titulo}}</td>
                <td>{{livro.autor}}</td>
                <td>{{livro.genero}}</td>
                <td>{{livro.ano}}</td>
                <td>{{livro.quantidade}}</td>
                <td>
                    <button class="btn-editar" (click)="editarLivro(livro)">Editar</button>
                    <button class="btn-excluir" (click)="excluirLivro(livro.id)">Excluir</button>
                </td>
            </tr>
        } @empty {
            <tr>
                <td colspan="6" class="nenhum-livro">
                    Nenhum livro encontrado.
                </td>
            </tr>
        }
    </tbody>
</table>
